.contact-form {
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {outline: none}

.map-box {
    width: 100%;
    height: 630px;
    position: relative;
}

.map {
    width: 100%;
    height: 630px;
    position: relative;
    z-index: 0;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 630px;
    padding-top: 40px;
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
}

.success {
    background-color: rgba(49, 226, 83, 0.87);
    border-radius: 30px;
}

.error {
    background-color: rgba(239, 25, 33, 0.65);
    border-radius: 30px;
    color: #333;
}